.forecast-column {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #e8f2ea;
  background-color: #e8f2ea;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  color: #413f42;
}

.forecast-column div {
  padding-top: 5px;
}

.forecast-column span {
  opacity: 0.7;
}

.temperature {
  font-size: 12px;
}
