.main-frame {
  margin-top: 40px;

  padding: 20px;
  border: 0.5px solid #5f7464;
  border-radius: 5px;
  background-color: #f5fef7;
}

.forecast {
  display: flex;
  justify-content: space-around;
}
